<section class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 offset-lg-2">
                <div class="blog-details-header">
                    <h3>How Brands Can Use Twitch to Stay Connected with Their Customers</h3>
                    <div class="entry-meta">
                        <ul>
                            <li>
                                <i class='flaticon-categories'></i>
                                <span>Category:</span>
                                <a href="#">Fashion</a>
                            </li>
                            <li>
                                <i class='flaticon-man'></i>
                                <span>Posted By:</span>
                                <a href="#">Recall Smith</a>
                            </li>
                            <li>
                                <i class='flaticon-calendar'></i>
                                <span>Posted On:</span>
                                <a href="#">01/14/2020</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="blog-details-desc">
                    <div class="article-content">
                        <p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quia non numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit amet, consectetur adipisicing.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in  sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                        <ul class="wp-block-gallery columns-3">
                            <li class="blocks-gallery-item">
                                <figure>
                                    <img src="assets/img/blog/img1.jpg" alt="image">
                                </figure>
                            </li>

                            <li class="blocks-gallery-item">
                                <figure>
                                    <img src="assets/img/blog/img2.jpg" alt="image">
                                </figure>
                            </li>

                            <li class="blocks-gallery-item">
                                <figure>
                                    <img src="assets/img/blog/img3.jpg" alt="image">
                                </figure>
                            </li>
                        </ul>
                        <blockquote class="wp-block-quote">
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>

                            <cite>Tom Cruise</cite>
                        </blockquote>
                        <p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quia non numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit amet, consectetur adipisicing.</p>
                        <h3>6 Steps to a Successful Influencer Brief + FREE Template</h3>
                        <ul class="features-list">
                            <li><strong>Influencer size and engagement rate:</strong> Scientific skills for getting a better result</li>
                            <li><strong>Influencer industry:</strong> Communication skills to getting in touch</li>
                            <li><strong>Influencer locations:</strong> A career overview opportunity available</li>
                            <li><strong>Campaign variables:</strong> A good work environment for work</li>
                        </ul>
                        <h3>NEW! Upfluence’s Influencer Relationship Management tool</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in  sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    </div>
                    <div class="article-footer">
                        <div class="article-tags">
                            <span><i class='flaticon-promotion'></i></span>

                            <a href="#">Fashion</a>,
                            <a href="#">Games</a>,
                            <a href="#">Travel</a>
                        </div>

                        <div class="article-share">
                            <ul class="social">
                                <li><span>Share:</span></li>
                                <li><a href="#" class="facebook" target="_blank"><i class='flaticon-facebook'></i></a></li>
                                <li><a href="#" class="twitter" target="_blank"><i class='flaticon-twitter'></i></a></li>
                                <li><a href="#" class="linkedin" target="_blank"><i class='flaticon-instagram'></i></a></li>
                                <li><a href="#" class="instagram" target="_blank"><i class='flaticon-pinterest'></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="recall-post-navigation">
                        <div class="prev-link-wrapper">
                            <div class="info-prev-link-wrapper">
                                <a href="#">
                                    <span class="image-prev">
                                        <img src="assets/img/blog/img1.jpg" alt="image">
                                        <span class="post-nav-title">Prev</span>
                                    </span>
                                    <span class="prev-link-info-wrapper">
                                        <span class="prev-title">NEW! Upfluence’s Influencer Relationship Management tool</span>
                                        <span class="meta-wrapper">
                                            <span class="date-post">January 21, 2020</span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>

                        <div class="next-link-wrapper">
                            <div class="info-next-link-wrapper">
                                <a href="#">
                                    <span class="next-link-info-wrapper">
                                        <span class="next-title">6 Steps to a Successful Influencer Brief + FREE Template</span>
                                        <span class="meta-wrapper">
                                            <span class="date-post">January 19, 2020</span>
                                        </span>
                                    </span>
                                    <span class="image-next">
                                        <img src="assets/img/blog/img2.jpg" alt="image">
                                        <span class="post-nav-title">Next</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
