<div id="home" class="main-banner">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="main-banner-content">
                    <h1><span>{{ bannerInformation.descriptionTitle }}</span> {{ bannerInformation.descriptionOne }}</h1>
                    <p>{{ bannerInformation.descriptionTwo }}</p>
                    <div class="btn-box">
                        <!--<a href="#" target="_blank" class="default-btn">Youtube Channel</a>-->
                        <ul>
                            <li><a href="https://github.com/CristianOrtega" class="pinterest" target="_blank"><i class="fab fa-github"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/crisortega/" class="facebook" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="https://twitter.com/crisortegamu" class="twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="image"></div>
    <div class="shape2"><img src="assets/img/shape2.png" alt="image"></div>
    <div class="shape3"><img src="assets/img/shape3.png" alt="image"></div>
    <div class="shape4"><img src="assets/img/shape4.png" alt="image"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="image"></div>
    <div class="shape6"><img src="assets/img/shape6.png" alt="image"></div>
    <div class="shape7"><img src="assets/img/shape7.png" alt="image"></div>
    <div class="shape8"><img src="assets/img/shape8.png" alt="image"></div>
</div>