<div *ngIf="loading" class='lmask'></div>

<section id="videos" class="featured-videos-area pt-100 pb-70">
    <div class="container">
        <div class="section-title pages">
            <h2>Proyectos de práctica</h2>
        </div>

        <div class="text-center" *ngIf="technologyNotFound">
            <p class="no-data-found">{{ message }}</p>
        </div>

        <div class="row" >
            <app-laboratory-item class="col-lg-4 col-sm-6 col-md-6" 
                                *ngFor="let laboratory of asyncLaboratoryList | async | paginate: { id: 'laboratoryGrid', 
                                                                                            itemsPerPage: pageSize, 
                                                                                            currentPage: currentPage, 
                                                                                            totalItems: totalRecords }" 
                                [laboratory]="laboratory">
            </app-laboratory-item>
        </div>

        <div class="text-center" *ngIf="totalRecords > 6">
            <pagination-controls (pageChange)="pageChanged($event)" previousLabel='Anterior' nextLabel='Siguiente' id='laboratoryGrid'></pagination-controls>
        </div>
        
    </div>
</section>