<div *ngIf="saving" class='lmask'></div>

<form [formGroup]="projectForm" (ngSubmit)="savePortfolioProccess($event)" *ngIf="technologyArray.length > 0 else loading">
    <mat-card>
      <mat-card-header>
        <mat-card-title>New Project</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <input type="hidden" formControlName="id">
        <div class="row">
          <div class="col-xs">
            <mat-form-field class="admin-form-width">
              <input placeholder="Project Name" formControlName="name" matInput type="text">
            </mat-form-field>
            <div class="attribute-required" *ngIf="projectForm.get('name').errors && projectForm.get('name').dirty">
              <p *ngIf="projectForm.get('name').hasError('required')">* This field is required</p>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-xs">
              <mat-form-field class="admin-form-width">
                <input placeholder="Business Category" formControlName="category" matInput type="text">
              </mat-form-field>
              <div class="attribute-required" *ngIf="projectForm.get('category').errors && projectForm.get('category').dirty">
                <p *ngIf="projectForm.get('category').hasError('required')">* This field is required</p>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-xs">

              <mat-form-field class="admin-form-width">
                  <mat-label>Role</mat-label>
                  <mat-select formControlName="position">
                      <mat-option *ngFor="let role of roleList" [value]="role">
                          {{ role }}
                      </mat-option>
                      </mat-select>
              </mat-form-field>
            <div class="attribute-required" *ngIf="projectForm.get('position').errors && projectForm.get('position').dirty">
              <p *ngIf="projectForm.get('position').hasError('required')">* This field is required</p>
            </div>
          </div>
      </div>
        <div class="row">
            <div class="col-xs">
              <mat-form-field class="admin-form-width">
                <textarea matInput placeholder="Project Description 1 " formControlName="aboutProjectOne"></textarea>
              </mat-form-field>
              <div class="attribute-required" *ngIf="projectForm.get('aboutProjectOne').errors && projectForm.get('aboutProjectOne').dirty">
                <p *ngIf="projectForm.get('aboutProjectOne').hasError('required')">* This field is required</p>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-xs">
            <mat-form-field class="admin-form-width">
              <textarea matInput placeholder="Personal Description 2" formControlName="aboutProjectTwo"></textarea>
            </mat-form-field>
            <div class="attribute-required" *ngIf="projectForm.get('aboutProjectTwo').errors && projectForm.get('aboutProjectTwo').dirty">
              <p *ngIf="projectForm.get('aboutProjectTwo').hasError('required')">* This field is required</p>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-xs">
            <mat-form-field class="admin-form-width">
                <mat-label>Important</mat-label>
                <mat-select formControlName="priority">
                    <mat-option *ngFor="let object of importantOption" [value]="object.value">
                        {{ object.display }}
                    </mat-option>
                    </mat-select>
            </mat-form-field>
          <div class="attribute-required" *ngIf="projectForm.get('priority').errors && projectForm.get('priority').dirty">
            <p *ngIf="projectForm.get('priority').hasError('required')">* This field is required</p>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col-xs">
            
            <div formArrayName="technologyList">
              <p>Add Technology <button mat-icon-button color="primary" (click)="addTechnology()"><mat-icon>add_circle</mat-icon></button></p>

              <div *ngFor="let alias of technologyList.controls; let i=index">

                <mat-form-field class="admin-form-width">
                  <mat-label>Technology</mat-label>
                  <mat-select [formControlName]="i">
                      <mat-option *ngFor="let tecnology of technologyArray" [value]="tecnology">
                          {{ tecnology.technologyName }}
                      </mat-option>
                      </mat-select>
                </mat-form-field>

              </div>
            </div>

          </div>
        </div>

        <div class="row" *ngIf="!hiddenUploadImage">
            <div class="col-xs">
                <div class="container-input-file">
                    <label class="custom-file">
                      <input class="upload" type="file" formControlName="image" (change)="handleImage($event)" />
                      <mat-icon>cloud_upload</mat-icon><span>CHOOSE IMAGE</span>
                    </label>
                  </div>
            </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button [disabled]="projectForm.invalid || saving" mat-raised-button type="submit">Guardar</button>
      </mat-card-actions>
    </mat-card>
  </form>

  <ng-template #loading>
    <div class="container-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
  