<div *ngIf="loading" class='lmask'></div>

<section id="videos" class="featured-videos-area pt-100 pb-70">
    <div class="container">
        <div class="section-title pages">
            <h2>Cursos realizados</h2>
        </div>

        <div class="row">
            <app-courses-item class="col-lg-4 col-sm-6 col-md-6" 
                              *ngFor="let certificate of asyncCertificateList | async | paginate: { id: 'certificateGrid', 
                                                                                                    itemsPerPage: pageSize, 
                                                                                                    currentPage: currentPage, 
                                                                                                    totalItems: totalRecords }" 
                              [certificate]="certificate">
            </app-courses-item>
        </div>

        <div class="text-center" *ngIf="totalRecords > pageSize">
            <pagination-controls (pageChange)="pageChanged($event)" previousLabel='Anterior' nextLabel='Siguiente' id='certificateGrid'></pagination-controls>
        </div>
        
    </div>
</section>